1. Set the variable test1 to the string 'This is a test of the emergency text system,' and save test1 to a file named test.txt.

In [1]:
test1 = 'This is a test of the emergency text system,'
with open('test.txt', 'w') as file:
    file.write(test1)

2. Read the contents of the file test.txt into the variable test2. Is there a difference between test 1 and test 2?

In [2]:
with open('test.txt', 'r') as f:
    test2 = f.read()

3. Create a CSV file called books.csv by using these lines:
title,author,year
The Weirdstone of Brisingamen,Alan Garner,1960
Perdido Street Station,China Miéville,2000
Thud!,Terry Pratchett,2005
The Spellman Files,Lisa Lutz,2007
Small Gods,Terry Pratchett,1992

In [3]:
import csv

# data to be written to CSV file
data = [
    ['title', 'author', 'year'],
    ['The Weirdstone of Brisingamen', 'Alan Garner', '1960'],
    ['Perdido Street Station', 'China Miéville', '2000'],
    ['Thud!', 'Terry Pratchett', '2005'],
    ['The Spellman Files', 'Lisa Lutz', '2007'],
    ['Small Gods', 'Terry Pratchett', '1992']
]

# open file in write mode
with open('books.csv', 'w', newline='') as file:
    writer = csv.writer(file)

    # write data to file
    for row in data:
        writer.writerow(row)

print('CSV file created successfully.')

CSV file created successfully.

4. Use the sqlite3 module to create a SQLite database called books.db, and a table called books with these fields: title (text), author (text), and year (integer).

In [4]:
import sqlite3

# Create a connection to the database
conn = sqlite3.connect('books.db')

# Create a cursor object to execute SQL commands
c = conn.cursor()

# Create the table
c.execute('''CREATE TABLE books
             (title text, author text, year integer)''')

# Commit the changes and close the connection
conn.commit()
conn.close()

5. Read books.csv and insert its data into the book table.

In [5]:
import csv
import sqlite3

conn = sqlite3.connect('books.db')

cursor = conn.cursor()

cursor.execute('''
    CREATE TABLE IF NOT EXISTS books (
        title TEXT,
        author TEXT,
        year INTEGER
    )
''')

with open('books.csv', 'r') as f:
    reader = csv.reader(f)
    next(reader)
    for row in reader:
        cursor.execute('INSERT INTO books (title, author, year) VALUES (?, ?, ?)', row)

conn.commit()
conn.close()

6. Select and print the title column from the book table in alphabetical order.

In [7]:
import sqlite3

# Connect to the database
conn = sqlite3.connect('books.db')

# Create a cursor
c = conn.cursor()

# Select the title column and order by it in alphabetical order
c.execute("SELECT title FROM books ORDER BY title ASC")

# Fetch all the results and print them
results = c.fetchall()
for title in results:
    print(title[0])

# Close the cursor and connection
c.close()
conn.close()

Perdido Street Station
Small Gods
The Spellman Files
The Weirdstone of Brisingamen
Thud!

7. From the book table, select and print all columns in the order of publication.

In [8]:
import sqlite3

conn = sqlite3.connect('books.db')
c = conn.cursor()

c.execute("SELECT * FROM books ORDER BY year")
rows = c.fetchall()

for row in rows:
    print(row)
conn.close()

('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('Small Gods', 'Terry Pratchett', 1992)
('Perdido Street Station', 'China Miéville', 2000)
('Thud!', 'Terry Pratchett', 2005)
('The Spellman Files', 'Lisa Lutz', 2007)

8. Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in exercise 6.

In [9]:
from sqlalchemy import create_engine

engine = create_engine('sqlite:///books.db')

9. Install the Redis server and the Python redis library (pip install redis) on your computer. Create a Redis hash called test with the fields count (1) and name ('Fester Bestertester'). Print all the fields for test.

```import redis

r = redis.Redis()

r.hmset('test', {'count': 1, 'name': 'Fester Bestertester'})

print(r.hgetall('test'))```

10. Increment the count field of test and print it.

```
import redis

r = redis.Redis()

count = r.incrby('test', 1)

print(count)

```